<nav class="navbar navbar-light bg-light" style="margin-left: 0.5em;">
  <ul class="navbar-nav">
    <div class="row">
      <div class="col-2">
        <li class="nav-item wordNowrap">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['/home']"
            class="nav-link">Car Info</a>
        </li>
      </div>
      <div class="col-2 wordNowrap">
        <li class="nav-item">
          <a [routerLink]="['/vehicles']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">Vehicles</a>
        </li>
      </div>
      <div class="col-3 wordNowrap">
        <li class="nav-item">
          <a [routerLink]="['/vehicles/new']" [routerLinkActive]="['active']" class="nav-link">New Vehicle</a>
        </li>
      </div>
      <div class="col-2 wordNowrap">
        <li class="nav-item">
          <a [routerLink]="['/contact']" [routerLinkActive]="['active']" class="nav-link">Contact</a>
        </li>
      </div>
      <div class="col-2 wordNowrap">
        <li class="nav-item">
          <a [routerLink]="['/login']" [routerLinkActive]="['active']" class="nav-link">Login</a>
        </li>
      </div>

    </div>

  </ul>
</nav>